-e .
awscliv2
black
dvc
dvc[s3]
evidently
isort
matplotlib
miceforest
mlflow
numpy
pandas==2.1.4
prefect
pre-commit
scikit-learn
sqlalchemy==1.4.51
openpyxl
optuna
psycopg2-binary
pytest
pylint
pyyaml
scipy
sqlalchemy
xgboost